{{#> layout page='intro'}}
  <div class="row">
    <div class="col-md-3">
      {{> graphic/menu }}
    </div>

    <div class="col-md-6">
      <div class="main">
        {{> graphic/content page='intro'}}
      </div>
    </div>
  </div>
{{/layout}}
