{{#> layout page='intro'}}
  <h1 class="main__hed">{{{ @root.intro.hed }}}</h1>

  <div class="row">
    <div class="col-md-3">
      {{> graphic/menu }}
    </div>

    <div class="col-md-7">
      <div class="main">
        {{> graphic/content page='intro'}}
      </div>
    </div>
  </div>
{{/layout}}
