{{#> layout page='intro'}}
  <div class="intro" data-aos="fade-in" data-aos-duration="1000">
    <h1 class="main__hed">{{{ @root.intro.hed }}}</h1>
    <h2 class="main__dek">{{{ @root.intro.dek }}}</h2>
  </div>

  <div class="row">
    <div class="col-md-4 col-lg-3">
      {{> graphic/menu page='intro'}}
    </div>

    <div class="col-md-8 col-lg-7">
      <div class="main">
        {{> graphic/content page='intro'}}
      </div>
    </div>
  </div>
{{/layout}}
