{{#with (lookup @root page)}}
  {{#each this.content}}
    {{#ifEquals type 'text'}}
      <p class="main__graf col-md-10">{{{ value }}}</p>
    {{/ifEquals}}

    {{#ifEquals type 'box-img'}}
      {{> graphic/swiper-box value}}
    {{/ifEquals}}
  {{/each}}
{{/with}}
