<ul class="main__graf--list col-md-11" data-aos="fade-in" data-aos-duration="1200">
  <li class="main__graf--list-item">Abuse of discretion</li>
  <li class="main__graf--list-item">Access money/’cash for access’</li>
  <li class="main__graf--list-item">Bribery</li>
  <li class="main__graf--list-item">Collusion</li>
  <li class="main__graf--list-item">Cronyism</li>
  <li class="main__graf--list-item">Embezzlement</li>
  <li class="main__graf--list-item">Excess gift or hospitality</li>
  <li class="main__graf--list-item">Extortion</li>
  <li class="main__graf--list-item">Favouritism</li>
  <li class="main__graf--list-item">Fraud</li>
  <li class="main__graf--list-item">Influence peddling</li>
  <li class="main__graf--list-item">Insider trading</li>
  <li class="main__graf--list-item">Kickbacks</li>
  <li class="main__graf--list-item">Misappropriation of property</li>
  <li class="main__graf--list-item">Nepotism</li>
  <li class="main__graf--list-item">Patronage</li>
  <li class="main__graf--list-item">Protection money</li>
  <li class="main__graf--list-item">Rent-seeking</li>
  <li class="main__graf--list-item">Sextortion</li>
</ul>
