<div class="move-box" data-aos="fade-left" data-aos-duration="1000">
  <h4 class="move-box__title futura-bold">{{{ title }}}</h4>
  {{#each text}}
    <p class="move-box__text futura-medium">{{{ value }}}</p>
  {{/each}}
</div>
