<div class="main__questions__wrapper">
  <ul class="main__questions col-md-11 futura-medium">
    <ol class="main__questions">
        <li class="main__questions--list">What <span class="bold">type(s)</span> of corruption matter?</li>

        <ul class="subq_list">
          <li class="subq_list--item">What is the <span class="bold">dominant type(s) of corruption</span> undermining the outcome you identified in Step One (e.g., of primary concern where you know you won’t achieve your desired outcome unless you do something about this)?</li>
          <li class="subq_list--item">What <span class="bold">other types of corruption also matter</span> for your outcome (e.g., of secondary concern but still relevant)?</li>
        </ul>

        <p>If you’ve identified several types of corruption that matter:</p>

        <ul class="subq_list">
          <li class="subq_list--item">How do these <span class="bold">types of corruption interact</span> with each other, and if so, how?</li>
          <li class="subq_list--item">If one type of <span class="bold">corrupt behaviour was eliminated</span>, would your aim be easier to achieve, or would other forms of corruption still pose a significant barrier to achieving your aims? In other words, do you really need to try to tackle them all right now?</li>
        </ul>

        <li class="main__questions--list">Which <span class="bold">contextual factors</span> matter?</li>

        <p>In the first question, you identified the specific corruption types that are the most important for your desired outcome. This second question aims at getting specific about where this type of corruption happens – i.e., the context. The following questions should be answered with respect to each of the type(s) of corruption that you have identified in question 1.</p>

        <ul class="subq_list">
          <li class="subq_list--item"><span class="bold">Sector:</span> what sector(s) does this type of corruption impact (e.g., health, education, local government, oil, wildlife conservation and so on)?</li>

          <li class="subq_list--item"><span class="bold">Place:</span> where specifically does this corruption type take place? For example:</li>

          <ul class="mini-list">
            <li class="mini-list--item">Is it limited to a specific organisation(s) or setting? If so, which one?</li>
            <li class="mini-list--item">Does it only happen in only a single country, or only a certain part of this country? If so, where?</li>
            <li class="mini-list--item">Is it transnational? If so, which countries are involved? What are the interactions?</li>
          </ul>

          <li class="subq_list--item"><span class="bold">Visibility:</span> How visible is this type of corruption? Are its impacts and patterns easily tracked?</li>

          <li class="subq_list--item"><span class="bold">Public attitudes:</span> To what extent is tackling this type of corruption important to the public?</li>
        </ul>

        <li class="main__questions--list"><span class="bold">Which <span class="bold">actors</span> are likely to be involved?</li>
    </ol>
  </ul>
</div>
