<div class="main__questions__wrapper">
  <ul class="main__questions col-md-11">
    <ol class="main__questions">
        <li class="main__questions--list"><span class="bold">Monitoring</span>: Is it difficult to monitor and, if so, why? To what extent can the actors involved be monitored? How can monitoring be improved, and do you have the authority/ability to improve it?</li>
        <li class="main__questions--list"><span class="bold">Opportunity</span>: Is there a way to reduce opportunities for corruption? If so, what would this involve?</li>
        <li class="main__questions--list"><span class="bold">Impunity</span>: Are corrupt offenders likely to be punished if caught? Are actors fearful of being caught and, importantly, punished?</li>
    </ol>
  </ul>
</div>
