{{#> layout page='step3' js='step3.js'}}
  <div class="intro" data-aos="fade-in" data-aos-duration="1000">
    <h1 class="main__hed futura-bold">{{{ @root.step3.hed }}}</h1>
  </div>

  <div class="row">
    <div class="col-md-3">
      {{> graphic/menu page='step3'}}
    </div>

    <div class="col-md-6">
      {{> graphic/content page='step3'}}
    </div>
  </div>
{{/layout}}
