{{#> layout page='wrap' js='wrap.js'}}
  <div class="intro" data-aos="fade-in" data-aos-duration="1000">
    <img src="../assets/CF_icons_team.png" alt="Step 4 icon" class="main__icon" />
    <h1 class="main__hed futura-bold">{{{ @root.wrap.hed }}}</h1>
  </div>

  <div class="row">
    <div class="col-md-4 col-lg-3">
      {{> graphic/menu page='wrap'}}
    </div>

    <div class="col-md-7 col-lg-7">
      <ul class="nav nav-pills futura-bold">
        <li class="nav-item nav-item-1">
          <a class="nav-link" href="../step-1">Step 1</a>
        </li>
        <li class="nav-item nav-item-2">
          <a class="nav-link" href="../step-2">Step 2</a>
        </li>
        <li class="nav-item nav-item-3">
          <a class="nav-link" href="../step-3">Step 3</a>
        </li>
        <li class="nav-item nav-item-4">
          <a class="nav-link" href="../step-4">Step 4</a>
        </li>
        <li class="nav-item nav-item-5">
          <a class="nav-link active" href="#">Wrapping up</a>
        </li>
      </ul>
      {{> graphic/content page='wrap'}}
    </div>
  </div>
{{/layout}}
