<footer role='contentinfo' class='g-footer'>
	 {{#if credits}}<p class='g-footer--credits'>{{credits}}</p>{{else}}<p class='g-footer--credits'>{{meta.index.credits}}</p>{{/if}}

	{{> base/base-teasers}}
</footer>
